<!-- Password input -->
<div class="form-group"
  ng-class="{
    'has-error': form.password.$touched && form.password.$invalid,
    'has-success': form.password.$touched && form.password.$valid}">

  <input
    type="text" name="password" placeholder="Password"
    ng-model="userParams.password"
    password
    required="required"
    minlength="8"
    class="form-control">
  <ng-messages for="form.password.$error" ng-if="form.password.$invalid" class="help-block">
    <ng-message when="required">Required!</ng-message>
    <ng-message when="minlength">Password has to be 8 characters minimum</ng-message>
    <ng-message when="password">Only letters and numbers</ng-message>
  </ng-messages>
</div>
