<div class="user-nav">
  <h4>User Navigation</h4>
  <ul class="navigation">
    <!-- Show if not logged in -->
    <span ng-show="!user.loggedIn()">
      <li ui-sref-active="active">
        <a ui-sref="user.login">Login</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="user.register">Register</a>
      </li>
    </span>

    <!-- Show if logged in -->
    <span ng-show="user.loggedIn()">
      <li ui-sref-active="active">
        <a ui-sref="user.logoff">Log Off</a>
      </li>
    </span>

    <!-- Feed link -->
    <li ui-sref-active="active">
      <a ui-sref="feed.all">Feed</a>
    </li>

  </ul>
</div>
