<div ng-app="RssReaderApp">
  <div class="app-navigation">
    <h2>App Navigation</h2>
    <ul class="navigation">
      <li ui-sref-active="active">
        <a ui-sref="home">Home</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="user.login">User</a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="feed.all">Feeds</a>
      </li>
    </ul>
  </div>

  <div ui-view></div>
</div>
