<div class="container">
  <!-- Navigation -->
  <div class="home-nav row container-fluid">
    <ul class="navigation row">
      <!-- Show if not logged in -->
      <span ng-show="!home.loggedIn()">

        <li ui-sref-active="active" class="col-xs-6">
          <a ui-sref="user.login">Login</a>
        </li>
        <li ui-sref-active="active" class="col-xs-6">
          <a ui-sref="user.register">Register</a>
        </li>

      </span>

      <!-- Show if logged in -->
      <span ng-show="home.loggedIn()">
        <li ui-sref-active="active" class="col-xs-4">
          <a ui-sref="user.profile">Profile</a>
        </li>
        <li ui-sref-active="active" class="col-xs-4">
          <a ui-sref="feed.all">RSS Feeds</a>
        </li>
        <li ui-sref-active="active" class="col-xs-4">
          <a ui-sref="user.logoff">Logoff</a>
        </li>
      </span>

    </ul>
  </div>

  <!-- Body -->
  <div class="row">
    <div class="col-xs-12">
      <p>RSS Reader is a free to use web app for browsing through all your basic favorite rss feeds. Add your rss feeds and browse your content all in one place. To use the service, just register with a username and password. RSS Reader does not collect or keep track of any personal info. It is a free app available to anyone for public use.</p>
      <p>RSS Reader makes use of the <a href="https://developers.google.com/feed/">Google Feed API</a>. RSS Reader may break depending on changes made to Google's Feed API. <strong>Note</strong>: Google Feed API's Terms of Serrvice state that the depreciation notice does not apply as of April 20, 2015, however this is of course subject to change. If something is wrong with the application, please contact me <a href="mailto:andy.zheng249@gmail.com">andy.zheng249@gmail.com</a>.</p>
      <p>This application is built by Andy Zheng. The source code can be found on <a href="https://github.com/andyzheng547/rss_reader">Github</a>.</p>
    </div>
  </div>
</div>
