<div class="container">
  <!-- Navigation -->
  <div class="home-nav row container-fluid">
    <ul class="navigation row">
      <!-- Show if not logged in -->
      <span ng-show="!home.loggedIn()">

        <li ui-sref-active="active" class="col-xs-6">
          <a ui-sref="user.login">Login</a>
        </li>
        <li ui-sref-active="active" class="col-xs-6">
          <a ui-sref="user.register">Register</a>
        </li>

      </span>

      <!-- Show if logged in -->
      <span ng-show="home.loggedIn()">
        <li ui-sref-active="active" class="col-xs-4">
          <a ui-sref="user.profile">Profile</a>
        </li>
        <li ui-sref-active="active" class="col-xs-4">
          <a ui-sref="feed.all">RSS Feeds</a>
        </li>
        <li ui-sref-active="active" class="col-xs-4">
          <a ui-sref="user.logoff">Logoff</a>
        </li>
      </span>

    </ul>
  </div>

  <!-- Body -->
  <div class="row">
    <div class="col-xs-12">
      <p>
        RSS Reader is a free to use web app for browsing through all your basic favorite rss feeds. To use the service, just register with a username and password. That is all. No personal info whatsoever. You can add your rss feeds and browse all your content in one place.
      </p>
    </div>
  </div>
</div>
